<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>tablist0</string>
		<key>redhot</key>
		<string>0</string>
	</dict>
	<dict>
		<key>name</key>
		<string>tablist1</string>
		<key>redhot</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>tablist2</string>
		<key>redhot</key>
		<string>2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>tablist3</string>
		<key>redhot</key>
		<string>3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>tablist4</string>
		<key>redhot</key>
		<string>4</string>
	</dict>
	<dict>
		<key>name</key>
		<string>tablist5</string>
		<key>redhot</key>
		<string>5</string>
	</dict>
	<dict>
		<key>name</key>
		<string>tablist6</string>
		<key>redhot</key>
		<string>6</string>
	</dict>
	<dict>
		<key>name</key>
		<string>tablist7</string>
		<key>redhot</key>
		<string>7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>tablist8</string>
		<key>redhot</key>
		<string>8</string>
	</dict>
	<dict>
		<key>name</key>
		<string>tablist9</string>
		<key>redhot</key>
		<string>9</string>
	</dict>
	<dict>
		<key>name</key>
		<string>tablist10</string>
		<key>redhot</key>
		<string>10</string>
	</dict>
</array>
</plist>
