<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>本地</string>
		<key>redhot</key>
		<string>0</string>
	</dict>
	<dict>
		<key>name</key>
		<string>电影</string>
		<key>redhot</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>彩票</string>
		<key>redhot</key>
		<string>2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>娱乐</string>
		<key>redhot</key>
		<string>3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>饮食</string>
		<key>redhot</key>
		<string>4</string>
	</dict>
	<dict>
		<key>name</key>
		<string>新闻</string>
		<key>redhot</key>
		<string>5</string>
	</dict>
	<dict>
		<key>name</key>
		<string>测试本地内容</string>
		<key>redhot</key>
		<string>6</string>
	</dict>
	<dict>
		<key>name</key>
		<string>测试网络花卉水草</string>
		<key>redhot</key>
		<string>7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>花鸟鱼虫</string>
		<key>redhot</key>
		<string>8</string>
	</dict>
	<dict>
		<key>name</key>
		<string>雕梁画栋</string>
		<key>redhot</key>
		<string>9</string>
	</dict>
	<dict>
		<key>name</key>
		<string>文学</string>
		<key>redhot</key>
		<string>10</string>
	</dict>
</array>
</plist>
